.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.form-container {
  background: #fff8dc;
  padding: 30px;
  border: 5px solid #daa520;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 550px;
  text-align: center;
}

.form-container h1 {
  font-size: 3rem;
  color: #8b4513;
  margin-bottom: 20px;
}

.form-container label {
  font-size: 2.2rem;
  color: #8b4513;
  display: block;
  margin: 10px 0 5px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #d2b48c;
  border-radius: 5px;
  font-size: 1.9rem;
  background-color: #fffaf0;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #cd853f;
  box-shadow: 0 0 10px rgba(205, 133, 63, 0.5);
}

.form-container button {
  background: #daa520;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 2.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container button:hover {
  background: #cd853f;
}

/* Para seccion de WHATSAPP */

.info-wp {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 3rem;
  }
}
.contenedor-wp {
  display: flex;
  flex-direction: row;
  gap: 20px;
  h3 {
    font-size: 2.7rem;
  }
}

.whatsapp-button {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: none;
}

.whatsapp-button:hover {
  transform: scale(1.2);
}

.whatsapp-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.5) 10%,
      rgba(0, 0, 0, 0.1) 40%,
      transparent 70%
    ),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS45KCqSK1LXc3DiuhY2rfFrJfS888Mqo748A&s")
      repeat;
  background-size: cover;
  opacity: 0.7;
  z-index: 1;
}

.whatsapp-icon {
  position: relative;
  width: 60%;
  height: 60%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg")
    no-repeat center;
  background-size: contain;
  z-index: 2;
}

@media (max-width: 768px) {
  .contenedor-wp {
  display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px){
  .form-container{
    width: 400px;
  }
}


@media (max-width: 320px){
  .form-container{
    width: 300px;
  }
}