<section>
  <div class="video-container">
    <video autoplay muted loop>
      <source src="fondosIMG/animado.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
  <div class="title">
    <h1>NIRVANERA 4RT</h1>
  </div>
  <div class="content">
    <div class="contenedor animated-div">
      <div class="img-cont">
        <img class="imagen-lu" src="LuIMG.jpg" alt="Imagen de Lucia" />
      </div>
      <div class="contenedor-texto texto">
        <h2>Sobre Mí</h2>
        <p>
          Me llamo Lourdes y el arte es mi lenguaje. Dedico mi tiempo a crear
          obras que reflejan mi visión del mundo. Me encanta experimentar con
          colores, texturas y técnicas para transmitir emociones y conectar con
          las personas.
        </p>
        <p>
          Además de pintar, disfruto compartir mi arte con los demás, por lo que
          vendo mis obras para que puedan ser parte de tu hogar o espacio
          favorito.
        </p>
        <p>Seguime por INSTAGRAM!!</p>
        <a
          href="https://www.instagram.com/nirvanera4rt_11/profilecard/?igsh=dHAyMmdvZm1yZHNw"
          target="_blank"
          rel="noopener noreferrer"
          >Click aqui</a
        >
        <div class="instagram-icon">
          <a
            href="https://www.instagram.com/nirvanera4rt_11/profilecard/?igsh=dHAyMmdvZm1yZHNw"
            target="_blank"
            aria-label="Ir a Instagram"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
              alt="Instagram Icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
