<section>
  <div class="video-container">
    <video autoplay muted loop>
      <source src="fondosIMG/animado.mp4" type="video/mp4" />
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>
  <div class="title">
    <h1>NIVANERA 4RT</h1>
  </div>
  <div class="content">
    <div class="contenedor animated-div">
      <div class="img-cont"><img class="imagen-lu" src="LuIMG.jpg" alt="Imagen de Lucia" /></div>
      <div class="contenedor-texto texto">
        <h2>Sobre Mí</h2>
        <p>
          Me llamo Lucía y el arte es mi lenguaje. Dedico mi tiempo a crear
          obras que reflejan mi visión del mundo. Me encanta experimentar con
          colores, texturas y técnicas para transmitir emociones y conectar con
          las personas.
        </p>
        <p>
          Además de pintar, disfruto compartir mi arte con los demás, por lo que
          vendo mis obras para que puedan ser parte de tu hogar o espacio
          favorito.
        </p>
      </div>
    </div>
  </div>
</section>
